.container {
  display: block;
  position: relative;
  padding-left: 24px;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid var(--accent);
  border-radius: 2px;
}

.container:hover input ~ .checkmark {
  background-color: var(--softColor);
}

.container input:checked ~ .checkmark {
  background-color: var(--bgColor);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--accent);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
  display: block;
}
